* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121412;
  color: #fff;
  gap: 8px;
  font-family: "JetBrains Mono", monospace;
  font-size: 20px;
}

.container div input::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}
